/* Coolors Exported Palette - coolors.co/2f81ca-7f7b6e-01306b-061a4b-515081 */

/* HSL */
$color1: hsla(208%, 62%, 49%, 1);
$color2: hsla(46%, 7%, 46%, 1);
$color3: hsla(213%, 98%, 21%, 1);
$color4: hsla(223%, 85%, 16%, 1);
$color5: hsla(241%, 23%, 41%, 1);

/* RGB */
$color1: rgba(47, 129, 202, 1);
$color2: rgba(127, 123, 110, 1);
$color3: rgba(1, 48, 107, 1);
$color4: rgba(6, 26, 75, 1);
$color5: rgba(81, 80, 129, 1);