.generic {

	&--bg-colour {
		background-color: rgba($blue4, 0.2);
	}

	&__page-section {
		padding-top: 2rem;
		padding-bottom: 4rem;
	}

	&__page-section--no-padding-top {
		padding-top: 0;
	}

	&__title {
		text-align: center;
		font-size: 2.5rem;

		@mixin atMedium {
			font-size: 3.5rem;
		}

	}

	&__title--no-top-margin {
		margin-top: 0;
	}

	&__text {

		p {

			font-size: 1.1rem;

			@mixin atMedium {
				line-height: 1.3;
				font-size: 1.6rem;
			}
			
		}
		
	}

	&__text--centered {
		text-align: center;
	}

	&__text--light-padding {
		padding: .3rem 0;
	}

	&__opaic-white-bg {
		background-color: rgba(0,0,0, .1);
	}

}