.nav-menu {
	padding: 0;
	margin: 0;
	float: right;
	margin-top: 11px;
	transition: all .3s ease-out;

	@mixin onlySmall {
		opacity: 0;
		position: relative;
		z-index: -100;
	}

	@mixin atMedium {
		display: inline-block;
	}

	@mixin clearfix;

	li {
		list-style: none;
		float: left;
		font-size: 1.4rem;
		padding: .5em .6em;
		margin-right: .5em;
		/*background-color: rgba(0,0,0, .1);*/

		@mixin onlySmall {
			float: none;
			font-size: 2rem;
		}
	}

	li a {
		color: #eee;
		text-decoration: none;
		transition: all .5s ease-out;

		&:hover {
			color: #fff;
			cursor: pointer;
		}

	}

	&__link--current {

		@mixin atMedium {
			text-decoration: underline !important;
			color: #fff !important;
			font-size: 1.45rem;
		}
		
	}

	&--show {
		opacity: 1;
		background-color: rgba($blue3, 0.9);
		width: 100%;
		z-index: 0;
	}

}