.site-header {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 4.2rem;
	width: 100%;
	background-color: rgba($blue3, .5);

	@mixin atMedium {
		display: block;
	}

	&__logo {
		position: absolute;
		opacity: .9;

		img {

			width: auto;
			height: 90px;

			@mixin atLarge {
				height: 120px;
			}
			
		}
	}

}